{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                <p>Published on: {{ post.published_date }}</p>
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>
                <a href="{% url 'add_comment_to_post' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                </p>
        </article>
    {% endfor %}
{% endblock %}